.ToDoListItem{
    color: #101010;
    font-weight: 400;
    font-size: 1.1em;
}

.ToDoListItem.important .ToDoListItemText{
    color: #dc3545;
    font-weight: 800;
}

.ToDoListItem.done .ToDoListItemText{
    text-decoration: line-through;
    font-style: italic;
    color: #424242;
}